.header {
  color: #eb4a4c;
  margin-left: 3rem;
  margin-top: 2rem;
}

.Electronics {
  padding: 0 1rem;
}

.Electronics ul {
  padding-top: 1rem;
  padding-left: 1rem;
  display: block;
}

.Electronics ul li {
  list-style-type: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0.6rem 0rem;
}

.icon {
  color: #eb4a4c;
  font-size: 1.2rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 450px) {
  .Electronics ul li {
    font-size: 1rem;
  }
}
