.homePage {
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  font-size: 3.2rem;
  color: #fff;
}

.title span {
  color: #eb4a4c;
}

.homePage div {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.homePage div {
  font-size: 1.6rem;
  color: #fff;
}

.professions {
  width: 30%;
  transform: translateX(3rem);
  perspective: 10rem;
  list-style-type: none;
  position: relative;
}

.animSection {
  width: 100%;
  position: relative;
}

.HomeBtn {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  background-color: #eb4a4c;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 1rem;
  transition: all 0.2s ease-in-out;
}

.HomeBtn:hover {
  background-color: #fff;
  border: none;
  color: #eb4a4c;
}

.animSection p {
  position: absolute;
  left: 40%;
  height: 100%;
  color: #aaa;
}

.professions {
  position: absolute;
  display: inline-block;
  left: 42%;
  top: 0;
  height: 100%;
}

.professions li {
  position: absolute;
  font-size: 1.6rem;
  transform-origin: bottom;
  color: #fff;
}

.professions li:nth-of-type(1) {
  animation: diplaySkills 14s ease-in-out forwards infinite;
  /* display: none; */

  transform: rotateX(90deg);
  opacity: 0;
}
.professions li:nth-of-type(2) {
  animation: diplaySkills 14s 3.5s ease-in-out infinite;
  transform: rotateX(90deg);
  opacity: 0;
}
.professions li:nth-of-type(3) {
  animation: diplaySkills 14s 7s ease-in-out infinite;
  /* display: none; */
  transform: rotateX(90deg);
  opacity: 0;
}
.professions li:nth-of-type(4) {
  animation: diplaySkills 14s 10.5s ease-in-out infinite;
  opacity: 0;
  transform: rotateX(90deg);
  /* display: none; */
}

@keyframes diplaySkills {
  0% {
    transform: rotateX(40deg);
    opacity: 0;
  }
  3.5% {
    transform: rotateX(40deg);
    opacity: 0;
  }
  6% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  20.3% {
    transform: rotateX(0deg);
    opacity: 1;
  }
  23.8% {
    transform: rotateX(-40deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 1.6rem;
  }
  .homePage {
    backdrop-filter: blur(0px);

    justify-content: center;
  }
  .animSection {
    width: 100%;
    left: 0;
    align-self: flex-start;
  }
  .Wrapper {
    align-items: flex-start;
    padding: 0.5rem 0.5rem;
  }
  .Wrapper p {
    left: 0;
  }
  .Wrapper ul {
    left: 5%;
    top: 15%;
    /* transform: translateY(-50%); */
    width: 100%;
  }
  .Wrapper ul li {
    font-size: 1.2rem;
  }
}
