::-webkit-scrollbar {
  display: none;
}

.rightSection {
  flex-basis: 50%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 768px) {
  .rightSection {
    overflow-y: hidden;
    flex-grow: 1;
  }
}
